# This name of this file must appear after that of the file containing the OperatorHub CRD when ordered lexicographically.
# The OperatorHub CRD file is sourced from the following vendor directory: ./vendor/github.com/openshift/api/config/v1
apiVersion: config.openshift.io/v1
kind: OperatorHub
metadata:
  name: cluster
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    release.openshift.io/create-only: "true"
    capability.openshift.io/name: "marketplace"
spec: {}
