kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  creationTimestamp: null
  name: marketplace-operator
rules:
- apiGroups:
  - marketplace.redhat.com
  resources:
  - "*"
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - services
  - configmaps
  verbs:
  - "*"
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  verbs:
  - "*"
- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  - clusteroperators/status
  verbs:
  - create
  - get
  - update
